<link rel="stylesheet" href="/style/listView.css">

<main>
  <div class="content">
    <h2>Lista de livros</h2>
    <hr />
    <a href="/book/add" style="width: fit-content;">
      <button class="button">Novo livro</button>
    </a>
    {{#each books}}
      <div class="item">

        <p style="margin-bottom: 0.5rem;"><b>Nome:</b> {{nome}} </p>
        <p style="margin-bottom: 0.5rem;"><b>Descrição:</b> {{descricao}} </p>
        <p style="margin-bottom: 0.5rem;"><b>Gênero:</b> {{genero}} </p>

        <div>
          <a href="/book/edit/{{_id}}">
            <button class="button blue">
              Editar livros
            </button>
          </a>
          <a href="/book/delete/{{_id}}">
            <button class="button red">
              Deletar livros
            </button>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</main>